<div class="header">
    <img src="images/logo.jpg" alt="El Horno De Pablo" class="logo">
      <h1 class="title">El Horno De Pablo</h1>
      
      <div *ngIf="currentUser" [routerLink]="'/perfil'" class="user-profile">
        <div class="avatar-image">
          <img src="images/user.png" class="fas fa-user-circle" routerLink="/perfil">
        </div>
        <span class="username" routerLink="/perfil">{{ currentUser.nombreUsuario }}</span>
      </div>

      <div *ngIf="currentUserAdmin" class="user-profile" (click)="$event.stopPropagation()">
        <div class="profile-container">
          <div class="avatar-image">
            <img src="images/user.png" class="fas fa-user-circle">
          </div>
          <span class="username">{{ currentUserAdmin.nombreUsuario }}</span>
        </div>
        <div class="logout-icon" (click)="cerrarSesion()">
          <i class="fas fa-sign-out"></i>
        </div>
      </div>
</div>

<div *ngIf="currentUser"  class="nav-bar">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Inicio</a>
    <a *ngIf="currentUser.tipo === 'true' || currentUser.tipo === true"  routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
    <a *ngIf="currentUser.tipo === 'false' || currentUser.tipo === false"  routerLink="/tipo" routerLinkActive="active">Pedidos</a>
    <a routerLink="/fiesta" routerLinkActive="active">Fiesta</a>
</div>

<div *ngIf="currentUserAdmin" class="nav-bar">
    <a routerLink="/gestion" routerLinkActive="active">Gestión</a>
    <a routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
    <a routerLink="/fiestas" routerLinkActive="active">Fiestas</a>
</div>