<div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Seleccionar ubicación - Cliente A Beneficio</h2>
        <button class="modal-close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-map" #mapContainer style="height: 400px;"></div>
      <div class="modal-body">
        <label>Dirección:</label>
        <div class="input-wrapper">
          <input
            placeholder="Dirección, ciudad, depto (ej: José Ugarte 3496, Young, Río Negro)"
            [value]="selectedAddress"
            (input)="onAddressInput($event)"
          >
          <!-- Nuevo indicador de carga -->
          <div *ngIf="isLoading" class="loading-spinner">
            <div class="spinner"></div>
          </div>
        </div>
        <label>Queremos saber los motivos del beneficio.</label>
        <textarea class="motivo-textarea" placeholder="Aquí puedes escribir tus motivos..." [(ngModel)]="motivo"></textarea>
      </div>
      <div class="modal-footer">
        <button (click)="confirmLocation()">Confirmar</button>
      </div>
    </div>
  </div>