<div class="advertencia">
    <h2>¡Atención!</h2>
    <p>Luego de seleccionar su tipo de cliente no podrá cambiarlo.</p>
</div>

<div class="cards-container">
    <div class="card">
        <img src="images/persona.png" alt="Persona" class="card-image">
        <div class="card-content">
            <span class="card-label">Cliente particular</span>
            <div class="card-buttons">
                <button class="btn btn-primary" (click)="openModalPersona()">Seleccionar</button>
            </div>
            <div class="card-text">
                Si eres un cliente sin necesidades o características específicas, simplemente una persona normal que busca una opción estándar, selecciona esta opción.
            </div>
        </div>
    </div>

    <div class="card">
        <img src="images/comercio.png" alt="Comercio" class="card-image">
        <div class="card-content">
            <span class="card-label">Comercio</span>
            <div class="card-buttons">
                <button class="btn btn-primary" (click)="openModalComercio()">Seleccionar</button>
            </div>
            <div class="card-text">
                Si tienes un negocio como un minimarket, un local gastronómico, un almacén o cualquier otro tipo de comercio, selecciona esta opción.
            </div>
        </div>
    </div>
</div>

 <app-modal-persona *ngIf="isModalPersonaOpen" (modalClosed)="closeModalPersona()"></app-modal-persona>
 <app-modal-comercio *ngIf="isModalComercioOpen" (modalClosed)="closeModalComercio()"></app-modal-comercio>